<h1>Cine Mauricio </h1>
<h2> Lista de Salas </h2>

<table>
  <thead>
    <tr>
      <th>Número de Sala</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.sala_number %></td>
        <td><%= link_to 'Mostrar', sala %></td>
        <td><%= link_to 'Editar', edit_sala_path(sala) %></td>
        <td><%= link_to 'Borrar', salas_delete_path(:id => sala.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Nueva Sala', new_sala_path %>